#include <windows.h>

#define FILEVERSION_MAJOR 0
#define FILEVERSION_MINOR 2

#define STRINGIZE(x) STRINGIZE2(x)
#define STRINGIZE2(x) #x

#define FILEVERSION_NUM FILEVERSION_MAJOR,FILEVERSION_MINOR,0,0
#define FILEVERSION_STR STRINGIZE(FILEVERSION_MAJOR) "." STRINGIZE(FILEVERSION_MINOR)

VS_VERSION_INFO VERSIONINFO
FILEVERSION     FILEVERSION_NUM
PRODUCTVERSION  FILEVERSION_NUM
FILEFLAGSMASK   0x3fL
FILEFLAGS       0x0L
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
			VALUE "CompanyName",      "Flarens"
			VALUE "FileDescription",  "HDDWinCmdService"
			VALUE "FileVersion",	  FILEVERSION_STR
			VALUE "InternalName",     "HDDWinCmdService"
			VALUE "LegalCopyright",   "Flarens, 2025"
			VALUE "OriginalFilename", "hddwincmd_service.exe"
			VALUE "ProductName",      "HDDWinCmdService"
			VALUE "ProductVersion",   FILEVERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END